<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Embeddings - "{{.word}}"</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <script type="text/javascript">
    function toggleVector(e) {
      var elem = document.getElementsByClassName('word-vector')[0];
      if (e.target.textContent === 'Show Vector') {
        elem.className = 'word-vector word-vector-showing';
        e.target.textContent = 'Hide Vector';
      } else {
        elem.className = 'word-vector';
        e.target.textContent = 'Show Vector';
      }
    }
    </script>
  </head>
  <body>
    <form method="get" action="/word" class="search-form">
      <div class="input-append">
        <input type="text" name="word" placeholder="Word to lookup"
               class="form-control" value="{{.word}}">
        <input type="submit" value="Search" class="btn">
      </div>
    </form>

    <div class="vector-viewer">
      <button class="btn" onclick="toggleVector(event)">Show Vector</button>
      <br>
      <div class="word-vector">
        {{range .vec}}
        <span class="word-vector-component"> {{.}} </span>
        {{end}}
      </div>
    </div>

    <table class="table table-striped search-results">
      <tbody>
        <tr>
          <th>Word</th>
          <th>Correlation</th>
        </tr>
        {{range .matches}}
        <tr>
          <td><a href="/word?word={{.word}}">{{.word}}</a></td>
          <td>{{.correlation}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
